.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 40px;
}
.container div > nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container nav li{
    list-style: none;
    margin: 0 10px;
}